<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.njk" %}
  <link rel="stylesheet" href="/assets/styles.css?v={{ site.assetVersion }}">
</head>
<body>
  <a class="skip-link" href="#main-content">Skip to main content</a>
  {% include "partials/header.njk" %}
  {{ content | safe }}
  {% include "partials/footer.njk" %}
  <script src="/assets/site.js?v={{ site.assetVersion }}" defer></script>
</body>
</html>
