---
layout: false
permalink: /sitemap.xml
excludeFromSitemap: true
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://www.keystoneneuroinformatics.com/</loc>
    <lastmod>2026-03-09</lastmod>
  </url>
  <url>
    <loc>https://www.keystoneneuroinformatics.com/about/</loc>
    <lastmod>2026-03-09</lastmod>
  </url>
  <url>
    <loc>https://www.keystoneneuroinformatics.com/focus/</loc>
    <lastmod>2026-03-09</lastmod>
  </url>
  <url>
    <loc>https://www.keystoneneuroinformatics.com/projects/</loc>
    <lastmod>2026-03-09</lastmod>
  </url>
  <url>
    <loc>https://www.keystoneneuroinformatics.com/research/</loc>
    <lastmod>2026-03-09</lastmod>
  </url>
  <url>
    <loc>https://www.keystoneneuroinformatics.com/collaborate/</loc>
    <lastmod>2026-03-09</lastmod>
  </url>
  <url>
    <loc>https://www.keystoneneuroinformatics.com/contact/</loc>
    <lastmod>2026-03-09</lastmod>
  </url>
{% set staticUrls = [
  "/",
  "/about/",
  "/focus/",
  "/projects/",
  "/research/",
  "/collaborate/",
  "/contact/"
] %}
{% for entry in collections.publicPages %}
{%   if entry.url not in staticUrls %}
  <url>
    <loc>{{ entry.url | absoluteUrl(site) }}</loc>
  </url>
{%   endif %}
{% endfor %}
</urlset>
